*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 20px
    user-select :none;
}
#game{
    width: 300px;
    border-radius : 20px;
    height: 600px;
    border: 1px solid rgb(96, 162, 209);
    margin: auto;
    box-sizing: border-box;
    background: linear-gradient(to top right, rgb(154, 222, 154), rgb(194, 9, 9));
}
#character{
    width: 100px;
    height: 100px;
    background-color: #FED049;
    position: relative;
    top: 400px;
    left: 100px;
/*     border-radius: 50%; */
}
#block{
    width: 100px;
    height: 100px;
/*     border-radius: 30px; */
    background-color: rgb(158, 67, 215);
    position: relative;
    animation: slide 1s infinite;
}
@keyframes slide {
    from {top:-100px;}
    to{top:500px;}
}

#white{
    width: 300px;
    height: 110px;
    position: absolute;
    top: 500px;
    background-color: white;
    z-index: 100000;
}
#left, #right{
    width: 50%;
    position: absolute;
    height: 600px;
}
#right{
    left:50%;
}
img{
    opacity: 0;
}

@media (max-width:500px) {
    #right{
        left:50%;
    }
    #left{
       margin-left: 10px;
    }
     .left{
        position: absolute;
        top:550px;
        /* left:70px; */
        opacity:1;
    }
    .right{
        position: absolute;
        top:550px;
        left:100px;
        opacity:1;
    }
}

